@import url( 'https://fonts.googleapis.com/css?family=Lato:300,400,700&subset=latin-ext');

* {
    box-sizing: border-box;
    font-family: Lato, sans-serif;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

body {
    background-color: #f9f9f9;
}

.menu-wrapper {
    text-align: center;
    min-height: 100%;
    width: 100%;
}

.menu {
    display: inline-block;
    font-family: 'Josefin Sans';
    font-size: 1.5em;
    font-weight: bold;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 60px;
}

.menu-item {
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: center;
    perspective: 1000px;

    &:not(:first-child) {
        margin-left: -6px;
    }

    a {
        text-decoration: none;
        color: inherit;
        width: 100%;
        height: 100%;
        display: block;

        &:hover .item-box {
            transform: rotateX(-90deg) translateY(30px);
        }
    }

    .item-box {
        position: relative;
        width: 200px;
        height: 60px;
        transition: all 0.3s ease;
        transform-style: preserve-3d;
        transform: translateZ(-30px);
    }

    .main-face,
    .top-face {
        position: absolute;
        top: 0;
        left: 0;
        // padding: 20px;
        width: 200px;
        height: 60px;
        padding-top: 15px;
    }

    .main-face {
        background: $firstColor;
        transform: translateZ(30px);
        color: white;
        text-transform: uppercase;
    }

    .top-face {
        background: $secondColor;
        color: white;
        transform: rotateX(90deg) translateZ(30px);
    }
}

.arrow-top {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid $secondColor;
    position: fixed;
    bottom: 40px;
    right: 40px;
    cursor: pointer;
    transition: background 0.4s ease-in-out;
    opacity: 0.5;

    span {
        left: 50%;
        top: 50%;
        height: 30px;
        width: 4px;
        position: absolute;
        background-color: $secondColor;
        transform: translateX(-50%) translateY(-50%);
        transition: background 0.4s ease-in-out;

        &:first-child {
            top: 9px;
            left: 20px;
            height: 20px;
            transform: rotate(45deg);
        }

        &:last-child {
            top: 9px;
            left: 32px;
            height: 20px;
            transform: rotate(-45deg);
        }
    }

    &:hover {
        background-color: $firstColor;
        opacity: 0.85;
    }
}
