body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}
.wrap{
    width: 100%;
    min-height: 700px;
    height: 100%;
    background: #FFFFFF;
}

.wrap-inner {
    width: 700px;
    margin: 0 auto;
}

[class*="wall-"] p {
    color: #fff;
}

.box-logo {
    text-transform: uppercase;
    color: #fff;
    font: 52px/210px 'Roboto Condensed', sans-serif;
    font-weight: 700;
    letter-spacing: -2px;
}

#html-box [class*="wall-"] {
    background: rgba(255,136,16,0.8);
    background: linear-gradient(to right, rgba(255,136,16,0.8) 0%, rgba(255,183,55,0.8) 100%);
    box-shadow: inset -65px -40px 102px 0 #E87309;
    border: 1px solid rgb(247, 129, 18);
}

#css-box [class*="wall-"] {
    background: rgba(3,169,244,0.8);
    background: linear-gradient(to right, rgba(3,169,244,0.8) 0%, rgba(0,188,212,0.8) 100%);
    box-shadow: inset 35px -30px 102px 0 rgba(21,101,192,0.71);
    border: 1px solid rgba(8, 110, 156, 0.54);
}

#jquery-box [class*="wall-"] {
    background: rgba(255,190,0,0.8);
    background: linear-gradient(to right, rgba(255,190,0,0.8) 0%, rgba(255,225,49,0.8) 100%);
    box-shadow: inset 0 -70px 113px 0 rgba(255, 190, 0, 0.55);
    border: 1px solid rgba(255, 190, 0, 0.33);
}

#js-box [class*="wall-"] {
    background: rgba(249,82,137,0.8);
    background: linear-gradient(to right, rgba(249,82,137,0.8) 0%, rgba(255,135,176,0.8) 100%);
    box-shadow: inset 30px -50px 192px 0 rgba(233,30,99,1);
    border: 1px solid rgba(233, 30, 99, 0.68);
}

#ps-box [class*="wall-"] {
    background: rgba(215,224,34,1);
    background: linear-gradient(to right, rgba(215,224,34,1) 0%, rgba(117,191,67,1) 100%);
    box-shadow: inset 20px -20px 100px rgba(117, 191, 67, 0.8);
}

#b6 [class*="wall-"] {
    background: rgba(102,61,139,0.8);
    background: linear-gradient(to right, rgba(102,61,139,0.8) 0%, rgba(147,111,207,0.8) 100%);
    box-shadow: inset -70px 30px 122px 0 rgba(90,59,118,1);
    border: 1px solid #634A8E;
}

#b7 [class*="wall-"] {
    background: rgba(240,52,41,0.8);
    background: linear-gradient(to right, rgba(240,52,41,0.8) 0%, rgba(252,92,68,0.8) 100%);
    box-shadow: inset -70px -40px 192px 0 rgba(207,55,34,1);
    border: 1px solid #E83426;
}

.container-box {
    display: flex;
    flex-direction: row;
    transform: scale(.5);
    justify-content: center;
    max-width: 3000px;
    width: 100%;
    margin: auto;
}

.box {
    width: 270px;
    height: 270px;
    margin: 0 auto;
    transform-style: preserve-3d;
}

[class*="wall-"] {
    position: absolute;
    text-align: center;
    width: 210px;
    height: 210px;
    padding-left: 20px;
}

.wall-1 {
    transform: translateX(-105px) rotateY(90deg);
}

.wall-2 {
    transform: translateY(-105px) rotateX(90deg);
}

.wall-3 {
    transform: translateZ(-105px);
}

.wall-4 {
    transform: translateY(105px) rotateX(90deg);
}

.wall-5 {
    transform: translateZ(105px);
}

.wall-6 {
    transform: translateX(105px) rotateY(90deg);
}
@keyframes box1 {
    22% {
        transform: translate(0px, 100vh) rotateX(-20deg) rotateY(-30deg) rotateZ(20deg);
        animation-timing-function: ease-out;
    }

    75% {
        transform: translate(-50px, 5px) rotateX(120deg) rotateY(-35deg) rotateZ(180deg);
        animation-timing-function: ease-in;
    }

    90% {
        transform: translate(0px, 500px) rotateX(200deg) rotateY(-45deg) rotateZ(230deg);
        animation-timing-function: ease-out;
    }

    95% {
        transform: translate(20px, 230px) rotateX(275deg) rotateY(-35deg) rotateZ(300deg);
        animation-timing-function: ease-in;
    }

    100% {
        transform: translate(20px, 252px) rotateX(340deg) rotateY(-45deg) rotateZ(360deg);
        animation-timing-function: ease-out;
    }
}
@keyframes box2 {
    22% {
        transform: translateY(500px) rotateX(-20deg) rotateY(-30deg) rotateZ(20deg);
        animation-timing-function: ease-out;
    }

    75% {
        transform: translate(-250px, 50px) rotateX(320deg) rotateY(-55deg) rotateZ(10deg);
        animation-timing-function: ease-in;
    }

    90% {
        transform: translate(-290px, 500px) rotateX(325deg) rotateY(-45deg) rotateZ(0deg);
        animation-timing-function: ease-out;
    }

    95% {
        transform: translate(-267px, 420px) rotateX(355deg) rotateY(-45deg) rotateZ(0deg);
        animation-timing-function: ease-in;
    }

    100% {
        transform: translate(-267px, 500px) rotateX(340deg) rotateY(-45deg) rotateZ(0deg);
        animation-timing-function: ease-out;
    }
}
@keyframes box3 {
    22% {
        transform: translateY(500px) rotateX(-20deg) rotateY(-30deg) rotateZ(20deg);
        animation-timing-function: ease-out;
    }

    75% {
        transform: translate(-100px, 50px) rotateX(320deg) rotateY(-55deg) rotateZ(10deg);
        animation-timing-function: ease-in;
    }

    90% {
        transform: translate(-170px, 500px) rotateX(325deg) rotateY(-45deg) rotateZ(0deg);
        animation-timing-function: ease-out;
    }

    95% {
        transform: translate(-110px, 490px) rotateX(355deg) rotateY(-45deg) rotateZ(0deg);
        animation-timing-function: ease-in;
    }

    100% {
        transform: translate(-110px, 500px) rotateX(340deg) rotateY(-45deg) rotateZ(0deg);
        animation-timing-function: ease-out;
    }
}
@keyframes box4 {
    20% {
        transform: translate3d(0px, 500px,0) rotateX(-20deg) rotateY(-30deg) rotateZ(20deg);
        animation-timing-function: ease-out;
    }

    75% {
        transform: translate3d(-50px, 50px, 30px) rotateX(200deg) rotateY(-35deg) rotateZ(180deg);
        animation-timing-function: ease-in;
    }

    90% {
        transform: translate3d(-80px, 550px, 30px) rotateX(340deg) rotateY(-45deg) rotateZ(230deg);
        animation-timing-function: ease-out;
    }
    /*95%{
          transform: translate3d(20px, 700px, 30px) rotateX(275deg) rotateY(-35deg) rotateZ(300deg) scale3d(1.075,1.075,1.075);
          animation-timing-function: ease-in;
        }*/
    100% {
        transform: translate3d(-100px, 745px, 30px) rotateX(338deg) rotateY(-44deg) rotateZ(360deg);
        animation-timing-function: ease-out;
    }
}
@keyframes box5 {
    20% {
        transform: translate3d(0px,500px,0) rotateX(-20deg) rotateY(-30deg) rotateZ(20deg);
        animation-timing-function: ease-out;
    }

    75% {
        transform: translate3d(-300px, 250px, 0px) rotateX(-25deg) rotateY(-40deg) rotateZ(300deg);
        animation-timing-function: ease-in;
    }

    90% {
        transform: translate3d(-470px, 700px, 30px) rotateX(-20deg) rotateY(-45deg) rotateZ(390deg);
        animation-timing-function: ease-out;
    }

    95% {
        transform: translate3d(-538px, 748px, 30px) rotateX(-20deg) rotateY(-43deg) rotateZ(358deg);
        animation-timing-function: ease-in;
    }

    100% {
        transform: translate3d(-538px, 748px, 30px) rotateX(-20deg) rotateY(-44deg) rotateZ(360deg);
        animation-timing-function: ease-out;
    }
}

#html-box {
    transform: translateY(0px) rotateX(-20deg) rotateY(-40deg) rotateZ(20deg);
    animation: box1 2s 0.25s cubic-bezier(.69,.59,.57,2) both;
}

#css-box {
    transform: translateY(0px) rotateX(35deg) rotateY(-40deg) rotateZ(30deg);
    animation: box2 2s cubic-bezier(.69,.59,.57,2) both;
}

#jquery-box {
    transform: translateY(0px) rotateX(20deg) rotateY(-35deg) rotateZ(0deg);
    animation: box3 2s 0.05s cubic-bezier(.69,.59,.57,2) both;
}

#js-box {
    transform: translateY(0px) rotateX(10deg) rotateY(-45deg) rotateZ(10deg);
    animation: box4 2s 0.15s cubic-bezier(.69,.59,.57,2.5) both;
}

#ps-box {
    transform: translateY(0px) rotateX(25deg) rotateY(-50deg) rotateZ(-10deg);
    animation: box5 2.4s 0.15s cubic-bezier(.69,.59,.57,2.5) both;
}
