section {
    min-height: 50vh;

    &#skills {
        width: 100%;
        background-image: url("/dist/images/skills/background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        background-attachment: fixed;

        .skills-gradient {
            background: $skills-gradient;
            height: 100%;
        }

        .row {
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;

        }
    }

    &#contact {
        display: flex;
        align-items: center;
        justify-content: center;
        .contact-wrapper {
            background-color: $firstColor;
            height: 100%;
            width: 100%;
            margin: auto;
            .contact-form {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                input:not([type="submit"]){
                    width: 80%;
                }
                textarea{
                    width: 80%;
                }
            }
            label{
                color: white;
                text-align: left;
            }
        }
    }
}

.skill-box {
    border: 4px solid $secondColor;
    padding: 15px;
    position: relative;
    display: inline-block;
    width: 130px;
    height: 130px;
    margin: 35px 35px;
    text-align: center;
    border-radius: 50%;

    .img-skills {
        display: block;
        max-width: 100%;
        height: auto;
    }
}

.skill-text {
    span {
        color: #ffffff;
        font-size: $skill-text;
    }
}
