h1 {
    font-size: 1.4em;
    font-weight: 700;
    display: inline-block;
    vertical-align: middle;

    &:before {
        display: block;
        width: 80px;
        height: 80px;
        margin: 0 auto 0.7em;
        content: '';
        background-size: contain;
        background-position: center;
    }
}

p {
    line-height: 1.9em;
    font-size: 1em;
}

.v-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

article {
    width: 300px;
    margin: 0 1em;
    color: white;
    perspective: 1000px;
    position: relative;
    text-align: center;

    .back,
    .front {
        transition: transform 0.7s $ease_out;
        backface-visibility: hidden;
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 400px;
    }

    .front {
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transform: rotateY(0deg);
        background-size: cover;
        background-position: center;
        background-color: #222;
        background-blend-mode: overlay;

        .text {
            transform: translate3d(0,0,0);
            opacity: 1;
        }
    }

    .back {
        transform: rotateY(180deg);
        background: #3f59ff;
        position: relative;
        z-index: 1;

        .text {
            padding: 0 1.7em;
            transform: translate3d(80%,0,0);
        }
    }

    .text {
        transition: transform 0.7s $ease_out, opacity 0.4s linear;
        opacity: 0;
    }

    &:hover {
        .front {
            transform: rotateY(-180deg);

            .text {
                transform: translate3d(-200%,0,0);
                opacity: 0;
            }
        }

        .back {
            transform: rotateY(0deg);

            .text {
                transform: translate3d(0,0,0);
                opacity: 1;
            }
        }
    }
}

article {
    &:nth-child(1) .front {
        background-image: url("https://images.pexels.com/photos/173453/pexels-photo-173453.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");

        h1:before {
            background-image: url("http://dev.devolk.pl/demo/cosmos/galaxy.svg");
        }
    }

    &:nth-child(2) .front {
        background-image: url("https://images.pexels.com/photos/35600/road-sun-rays-path.jpg?w=1260&h=750&auto=compress&cs=tinysrgb");

        h1:before {
            background-image: url("http://dev.devolk.pl/demo/cosmos/light.svg");
        }
    }

    &:nth-child(3) .front {
        background-image: url("https://images.pexels.com/photos/5439/earth-space.jpg?w=1260&h=750&auto=compress&cs=tinysrgb");

        h1:before {
            background-image: url("http://dev.devolk.pl/demo/cosmos/saturn.svg");
        }
    }
}

.auth {
    position: absolute;
    bottom: 1em;
    right: 1em;

    a {
        color: #ccc;
        text-decoration: none;
    }
}
